POSTGRES_USER=parksentry
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=parksentry
JWT_KEY=CHANGE_ME_TO_A_SECURE_RANDOM_KEY_AT_LEAST_32_CHARS
JWT_ISSUER=ParkSentry
JWT_AUDIENCE=ParkSentry.Api
PUBLIC_HOST=parking.example.com
PUBLIC_ORIGIN=https://parking.example.com
PAYMENTS_PROVIDER=Manual
SCANNING_PROVIDER=Browser
IMAGE_TAG=v1.0.0-rc1
